@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: xx-large;
}

* {
  font-size: large;
}

@layer base {
  .player-white {
    --player-color: rgb(var(--theme-player-white));
    --opponent-color: rgb(var(--theme-player-black));
  }

  .player-black {
    --player-color: rgb(var(--theme-player-black));
    --opponent-color: rgb(var(--theme-player-white));
  }
}

@layer components {
  .tooltip {
    @apply pointer-events-none opacity-0 absolute;
  }

  .has-tooltip:hover .tooltip {
    @apply opacity-100 z-50;
  }
}
